*,
*:before,
*:after {
	box-sizing: border-box;
}

.game--container {
	width: 350px;
	height: 420px;
	margin: 0 auto;
}

/* <-- Game Grid --> */
.game--grid {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(5, 1fr);
	padding: 10px;
}

.game--grid__tile {
	border: 1px solid black;
	width: 40px;
	height: 40px;
}

/* <-- Keyboard Grid --> */
.keyboard--grid {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(10, 1fr);
	grid-gap: 10px;
}

/*.keyboard--grid__key {
}*/
